@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-nexo-bg: #020617;
  --color-nexo-surface: #0B1220;
  --color-nexo-card: #111827;
  --color-nexo-border: #1E293B;
  --color-nexo-text: #E2E8F0;
  --color-nexo-sub: #94A3B8;
  --color-nexo-aqua: #4FF4E0;  
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
 */